html, body, main {
  height: 100%;
}

body {
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

.map, .off-canvas-wrapper {
  height: 100%;
}

.list-locations {
  font-size: 14px;
}

.grid-container {
  padding: 0;
}

.top-bar-left, .top-bar-right {
  padding-bottom: 0.5rem;
}

.top-bar input {
  margin-right: 0;
  max-width: none;
}

.button-group, .button {
  margin-bottom: 0.1rem;
}

.position-bottom {
  height: auto;
  min-height: 10rem;
}

.menu {
  font-size: 12px;
}

.title-bar .menu-icon {
  margin-left: 1rem;
}

.list-locations, .search-results {
  max-height: 30vh;
  overflow-y: scroll;
  right: 0px;
}

.search-input {
  height: 1.5rem;
  margin-bottom: 0;
}

.infowindow-streetview {
  margin: 0.2rem 0;
}

  @media screen and (max-width: 40em) {
    .reveal {
        left: 10vw;
        width: 80vw;
        height: auto;
        min-height: 10vh;
    }
    .infowindow {
      width: 80vw;
    }
    .infowindow-streetview {
      height: 30vh;
    } 
  }
  @media screen and (min-width: 40em) {

    .infowindow {
      width: 30rem;
    }
    .infowindow-streetview {
      height: 25rem;
    } 
  }