html, body, main {
  height: 100%;
}

body {
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

  
.no-js .dynamic-content { 
  display: none; 
}

.map, .off-canvas-wrapper {
  height: 100%;
}

.list-locations {
  font-size: 14px;
}

.grid-container {
  padding: 0;
}

.top-bar-left, .top-bar-right {
  padding-bottom: 0.5rem;
}

.top-bar input {
  margin-right: 0;
  max-width: none;
}

.button-group, .button {
  margin-bottom: 0.1rem;
}

.position-bottom {
  height: auto;
}

/*.dropdown .is-dropdown-submenu a {
  padding: 0.2rem 0.2rem;
}*/

.menu {
  font-size: 12px;
}

.title-bar .menu-icon {
  margin-left: 1rem;
}

.list-locations, .search-results {
  max-height: 30vh;
  overflow-y: scroll;
  right: 0px;
}

.search-input {
  height: 1.5rem;
  margin-bottom: 0;
}

/*.infowindow {
  pointer-events:none;
}*/

.infowindow-streetview {
  margin: 0.2rem 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(-359deg); }
}

.icon-spin {
    animation: spin 2s linear infinite;
}

.attribution {
  font-size: 0.6rem;
}

.menu-bottom {
  min-height: 12rem;
}

/*.hidden {
  display:;
}*/

  @media screen and (max-width: 40em) {
    .reveal {
        left: 10vw;
        width: 80vw;
        height: auto;
        min-height: 10vh;
    }
    .infowindow {
      width: 80vw;
    }
    .infowindow-streetview {
      height: 30vh;
    }
    .dropdown-pane {
      width: auto;
    }
  }
  @media screen and (min-width: 40em) {
    .infowindow {
      width: 30rem;
    }
    .infowindow-streetview {
      height: 25rem;
    }
    .dropdown-pane {
      width: auto;
      max-width: 30rem;
    }
  }